.header {
    background: #151515 url(/images/intro-bg.jpg) center center no-repeat;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.header::after,
.services::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.header .text-container {
    z-index: 10;
}

.icons {
    transform: translateX(-50%);
}

.project:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
    opacity: 0.8;
}

.services {
    background: url('/images/bg.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.services .container {
    z-index: 10;
}

.statistics .parent>div {
    border-right: solid 1px #000;
}

.contact input,
.contact textarea {
    background: transparent;
    border-radius: none !important;
    border: none;
    border-bottom: white solid 1px;
}

.contact input:focus,
.contact textarea:focus {
    background: transparent;

}


@media (max-width: 768px) {
    .icons {
        bottom: 40px !important;
    }

    .icons i {
        font-size: 40px;

    }

    .statistics .parent>div {
        border-bottom: solid 1px #000;
        border-right: none;
    }


}